@font-face {
  font-family: "iconfont"; /* Project id 4047402 */
  src: url('iconfont.woff2?t=1683173819101') format('woff2'),
       url('iconfont.woff?t=1683173819101') format('woff'),
       url('iconfont.ttf?t=1683173819101') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e607";
}

.icon-add:before {
  content: "\e608";
}

.icon-user_filled:before {
  content: "\e605";
}

.icon-user:before {
  content: "\e606";
}

.icon-home_filled:before {
  content: "\e600";
}

.icon-topic_filled:before {
  content: "\e601";
}

.icon-topic:before {
  content: "\e602";
}

.icon-bell_filled:before {
  content: "\e603";
}

.icon-bell:before {
  content: "\e604";
}

